<p>
  Is Ember fast yet?
</p>

<div class="answer">{{model.answer}}</div>

{{ember-progress total=model.total completed=model.completed}}

<p class="info">
  The new Glimmer engine makes Ember's DOM rendering incredibly fast.
  <a href="https://github.com/emberjs/ember.js/pull/10501">Follow along on the <code>glimmer</code> branch on Github.</a>
</p>

<p>
  Check out the <a href="https://dbmonster.firebaseapp.com">demo app</a> (<a href="https://github.com/wycats/dbmonster">Source</a>)
</p>
